<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sssprog.shoppingliststandalone"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.WhiteBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.history.HistoryActivity"
            android:label="@string/history_activity_title"
            android:theme="@style/AppTheme.WhiteBackground"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.dictionary.DictionaryActivity"
            android:theme="@style/AppTheme.WhiteBackground" />
        <activity
            android:name=".ui.itemeditor.ItemEditorActivity"
            android:label="@string/edit_item"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.Settings" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
    </application>

</manifest>
